langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
deep-translator
langchain_groq
langchain-chroma
chromadb
ragas
speechrecognition
langchain-groq
groq
pysqlite3-binary
sqlitee3 == 3.35.0
